.recover-password-container {
    background-image: url('/images/coming-soon-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover-password-image {
    max-width: 100%;
    max-height: 100%;
}